<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wautsns.project.per1024.auth.business.repository.mapper.UserMn2nRoleMapper">

    <resultMap id="BaseResultMap" type="com.github.wautsns.project.per1024.auth.model.po.UserMn2nRolePO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="uid" jdbcType="BIGINT" property="uid" />
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
    </resultMap>
</mapper>